[defaults]
inventory_plugins = /etc/ansible/inventory_plugins
inventory = /etc/ansible/dnsmasq_leases.yml
host_key_checking = False

[inventory]
enable_plugins = dnsmasq_leases

[ssh_connection]
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
