apiVersion: 1

datasources:
  - name: Prometheus Local
    type: prometheus
    uid: prometheus-local
    access: proxy
    url: http://host.docker.internal:9090
    isDefault: true
    editable: true

  - name: Prometheus Central
    type: prometheus
    uid: prometheus-central
    access: proxy
    url: http://host.docker.internal:9091
    editable: true
