.aider*
/config/ansible/vault/
data/dnsmasq.leases
data/*.iso
data/*_key
data/*_key.pub
data/SHA256SUMS
dev/ansible/host_vars/
dev/dnsmasq.conf
dev/dnsmasq.leases
dev/tftpboot/
**/*.egg-info
.idea
__pycache__
.vault_pass
**/vault*.yml
.venv/
venv/
